<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Barrack/Building/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{160,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrack/Building/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,128}</string>
                <key>textureRect</key>
                <string>{{160,0},{160,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrack/Building/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,128}</string>
                <key>textureRect</key>
                <string>{{0,128},{160,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrack/Building/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{160,128},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrack/Doing/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{0,288},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrack/Doing/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{192,288},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrack/Idle/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{0,448},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrack/Idle/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{192,448},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrack/배럭(띄우기,내리기)/000_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{0,608},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrack/배럭(띄우기,내리기)/000_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{192,608},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrack/배럭(띄우기,내리기)/000_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{0,768},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrack/배럭(띄우기,내리기)/000_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{192,768},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrack/배럭(띄우기,내리기)/Tile3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{0,928},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrack/배럭(띄우기,내리기)/Tile4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{192,928},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrack/배럭(띄우기,내리기)/Tile5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{0,1088},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrack/배럭(띄우기,내리기)/Tile6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{192,1088},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Barrack.png</string>
            <key>size</key>
            <string>{384,1248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b681bf3d77522226ac5a5b8963b2b361:c4cd6a5e23199a972c43923a9cfef634:06446c6cef65191966d1f901ba7ceb8b$</string>
            <key>textureFileName</key>
            <string>Barrack.png</string>
        </dict>
    </dict>
</plist>
