<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BP/Academy/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BP/Armory/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,128}</string>
                <key>textureRect</key>
                <string>{{0,128},{160,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BP/Barrack/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{128,288},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BP/Bunker/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{96,0},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BP/CommandCenter/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{160,128},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BP/EngineeringBay/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{0,448},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BP/Factory/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{288,128},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BP/Refinery/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{192,448},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BP/ScienceFacility/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{192,0},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BP/StarPort/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{0,288},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BP/SupplyDepot/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{320,0},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BP.png</string>
            <key>size</key>
            <string>{416,640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d152238a247c412ccea38cf2c1d156f:a0f79769c73fa50e92cbd6863b7a4b92:1123faa3b436ffec44924e2573b448f0$</string>
            <key>textureFileName</key>
            <string>BP.png</string>
        </dict>
    </dict>
</plist>
