<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CommandCenter/Idle/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{160,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Idle/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,128}</string>
                <key>textureRect</key>
                <string>{{160,0},{160,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Idle/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,128}</string>
                <key>textureRect</key>
                <string>{{320,0},{160,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Idle/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{0,128},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Idle/05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{128,128},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>내리기/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{256,128},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>내리기/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{384,128},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>내리기/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{0,288},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>띄우기/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{128,288},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>띄우기/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{256,288},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>띄우기/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{384,288},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>새 폴더/tccshad.bmp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,960}</string>
                <key>spriteSourceSize</key>
                <string>{128,960}</string>
                <key>textureRect</key>
                <string>{{0,448},{128,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>새 폴더/대형건물그림자.bmp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,384}</string>
                <key>spriteSourceSize</key>
                <string>{128,384}</string>
                <key>textureRect</key>
                <string>{{128,448},{128,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>새 폴더/생산중.bmp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{256,448},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>새 폴더/커멘드센터 생산.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{384,448},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>새 폴더/테란 대형건물 건설.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,384}</string>
                <key>spriteSourceSize</key>
                <string>{160,384}</string>
                <key>textureRect</key>
                <string>{{0,1408},{160,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CommandCenter.png</string>
            <key>size</key>
            <string>{512,1792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ee1a7dad879a213989b25f1b841b40f:1d637617f645a0d4ab909749500df6cd:053d2fba9ec5a131d61a7c6c032462d9$</string>
            <key>textureFileName</key>
            <string>CommandCenter.png</string>
        </dict>
    </dict>
</plist>
