<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CommandCenter/Building/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{160,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Building/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,128}</string>
                <key>textureRect</key>
                <string>{{160,0},{160,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Building/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,128}</string>
                <key>textureRect</key>
                <string>{{320,0},{160,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Building/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{480,0},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Death/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{0,320},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Death/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{252,320},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Death/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{504,320},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Death/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{756,320},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Death/0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{0,520},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Death/0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{252,520},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Death/0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{504,520},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Death/0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{756,520},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Death/0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{0,720},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Death/0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{252,720},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Death/0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{504,720},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Death/0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{756,720},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Death/0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{0,920},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Death/0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{252,920},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Doing/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{608,0},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Doing/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{736,0},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CommandCenter/Idle/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{864,0},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>내리기/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{0,160},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>내리기/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{128,160},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>내리기/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{256,160},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>띄우기/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{384,160},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>띄우기/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{512,160},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>띄우기/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{640,160},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>새 폴더/tccshad.bmp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,960}</string>
                <key>spriteSourceSize</key>
                <string>{128,960}</string>
                <key>textureRect</key>
                <string>{{792,920},{128,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>새 폴더/대형건물그림자.bmp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,384}</string>
                <key>spriteSourceSize</key>
                <string>{128,384}</string>
                <key>textureRect</key>
                <string>{{504,920},{128,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>새 폴더/생산.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{768,160},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>새 폴더/생산중.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{896,160},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>새 폴더/테란 대형건물 건설.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,384}</string>
                <key>spriteSourceSize</key>
                <string>{160,384}</string>
                <key>textureRect</key>
                <string>{{632,920},{160,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CommandCenter.png</string>
            <key>size</key>
            <string>{1024,1880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c729fa1cce98dd02fe469a80921c1667:7c9e689c8fc7d8075ac84107825546c8:053d2fba9ec5a131d61a7c6c032462d9$</string>
            <key>textureFileName</key>
            <string>CommandCenter.png</string>
        </dict>
    </dict>
</plist>
