<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EngineeringBay/Building/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/Building/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{96,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/Building/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{192,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/Building/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{288,0},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/Doing/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{480,0},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/Doing/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{672,0},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/Doing/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{0,160},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/Doing/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{192,160},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/Doing/0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{384,160},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/Doing/0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{576,160},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/Idle/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{768,160},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/Idle/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{0,320},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/LiftLand/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{192,320},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/LiftLand/1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{384,320},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/LiftLand/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{576,320},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/LiftLand/2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{768,320},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/LiftLand/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{0,480},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/LiftLand/3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{192,480},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/LiftLand/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{384,480},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/LiftLand/4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{576,480},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/LiftLand/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{768,480},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/LiftLand/5_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{0,640},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/LiftLand/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{192,640},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EngineeringBay/LiftLand/6_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{384,640},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EngineeringBay.png</string>
            <key>size</key>
            <string>{960,800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96ef20cdf77a33e9aecaa69c3bdb07cd:f63e3218d58a36c51d2e0b941f9e6b58:6ae45a756573ffa10e4c4a599cd61b16$</string>
            <key>textureFileName</key>
            <string>EngineeringBay.png</string>
        </dict>
    </dict>
</plist>
