<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FarmLand/Idle/Face/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FarmLand.png</string>
            <key>size</key>
            <string>{16,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b015e344f60d8965939d031a601154a1:c6477c77d795c7493c3037b700a38367:9ae24d07a85d3e8040ba8a90d7f207e6$</string>
            <key>textureFileName</key>
            <string>FarmLand.png</string>
        </dict>
    </dict>
</plist>
