<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ores/Gray_Ores/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ores.png</string>
            <key>size</key>
            <string>{16,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bca93d5881580f77c7b121ce03e0574c:b5df121deae0fe5df6917843bbd287c3:ef6a716a466860579203416e3d7e666a$</string>
            <key>textureFileName</key>
            <string>Ores.png</string>
        </dict>
    </dict>
</plist>
