<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ScienceFacility/Building/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScienceFacility/Building/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{96,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScienceFacility/Building/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{192,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScienceFacility/Building/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{288,0},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScienceFacility/Doing/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{416,0},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScienceFacility/Doing/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{544,0},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScienceFacility/Idle/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{672,0},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScienceFacility/띄우고내리기/33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{800,0},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScienceFacility/띄우고내리기/33333.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{1312,0},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScienceFacility/띄우고내리기/43334.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{1440,0},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScienceFacility/띄우고내리기/44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{928,0},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScienceFacility/띄우고내리기/53335.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{1568,0},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScienceFacility/띄우고내리기/55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{1056,0},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScienceFacility/띄우고내리기/63336.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{1696,0},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScienceFacility/띄우고내리기/66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{1184,0},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ScienceFacility.png</string>
            <key>size</key>
            <string>{1824,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49d952a4661bf9bc51c35cb32f07f8de:d8299f73f1162ea7a94f18dc489dfdeb:19cecf50fd8f64d4f15e794b4ae6b841$</string>
            <key>textureFileName</key>
            <string>ScienceFacility.png</string>
        </dict>
    </dict>
</plist>
