<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SCV/Idle/1/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Idle/10/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{0,216},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Idle/11/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{72,216},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Idle/12/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{144,216},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Idle/13/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{0,288},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Idle/14/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{72,288},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Idle/15/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{144,288},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Idle/16/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{0,360},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Idle/2/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{72,0},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Idle/3/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{144,0},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Idle/4/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{0,72},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Idle/5/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{72,72},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Idle/6/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{144,72},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Idle/7/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{0,144},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Idle/8/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{72,144},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Idle/9/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{144,144},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Move/1/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{72,360},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Move/10/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{72,576},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Move/11/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{144,576},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Move/12/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{0,648},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Move/13/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{72,648},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Move/14/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{144,648},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Move/15/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{0,720},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Move/16/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{72,720},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Move/2/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{144,360},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Move/3/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{0,432},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Move/4/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{72,432},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Move/5/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{144,432},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Move/6/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{0,504},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Move/7/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{72,504},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Move/8/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{144,504},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCV/Move/9/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{0,576},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SCV.png</string>
            <key>size</key>
            <string>{216,792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f0e7ed706751a6dff1866b94bcdf9ae:5af3481570638db9c04c40e6c50a104d:9ea6526dbb882b1241176dfdf094c456$</string>
            <key>textureFileName</key>
            <string>SCV.png</string>
        </dict>
    </dict>
</plist>
