<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>StarPort/Building/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{160,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarPort/Building/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,128}</string>
                <key>textureRect</key>
                <string>{{0,128},{160,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarPort/Building/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,128}</string>
                <key>textureRect</key>
                <string>{{0,256},{160,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarPort/Building/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{0,384},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarPort/Doing/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{128,384},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarPort/Doing/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{0,544},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarPort/Doing/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{128,544},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarPort/Idle/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{0,704},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarPort/Idle/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{128,704},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarPort/liftland/2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{0,864},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarPort/liftland/3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{128,864},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarPort/liftland/4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{0,1024},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarPort/liftland/5_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{128,1024},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarPort/liftland/Tile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{0,1184},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarPort/liftland/Tile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{128,1184},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarPort/liftland/Tile3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{0,1344},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarPort/liftland/Tile4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{128,1344},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>StarPort.png</string>
            <key>size</key>
            <string>{256,1504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c6b79b5facdeb75d9ac68752771dad4:aa06939640861218e94502d6658d518a:8439dc41ed753a78f5bd3fec86bc3b70$</string>
            <key>textureFileName</key>
            <string>StarPort.png</string>
        </dict>
    </dict>
</plist>
