<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UISprite/BionicAT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UISprite/BionicDF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{36,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UISprite/List_SCV.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{72,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UISprite/Multi_Marine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{104,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UISprite/Multi_SCV.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{136,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UISprite/SCVAT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{168,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UISprite/SelectRect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{0,36},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UISprite/UnitList.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,76}</string>
                <key>spriteSourceSize</key>
                <string>{154,76}</string>
                <key>textureRect</key>
                <string>{{33,36},{154,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UISprite/Wire_CommandCenter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{0,112},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UISprite/Wire_Marine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{64,112},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UISprite/Wire_SCV.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{128,112},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UISprite.png</string>
            <key>size</key>
            <string>{204,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f337811faf1df5b16cf35b8210cc8797:44eb0ce0cce8efee3c5bc6d034efabaa:0ed709281926e47f7d2364b77fd4e2a2$</string>
            <key>textureFileName</key>
            <string>UISprite.png</string>
        </dict>
    </dict>
</plist>
