<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UnitLoadBar/Empty/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,0},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,9},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,18},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,27},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,36},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,45},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,54},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,63},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,72},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,81},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,90},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,99},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,108},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,117},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,126},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,135},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,144},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,153},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,162},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,171},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,180},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,189},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,198},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,207},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,216},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,225},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,234},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,243},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,252},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,261},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,270},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,279},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,288},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,297},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,306},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,315},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,324},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,333},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,342},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,351},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,360},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,369},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,378},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,387},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,396},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,405},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,414},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,423},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,432},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,441},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,450},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,459},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,468},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,477},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,486},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,495},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,504},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,513},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,522},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,531},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,540},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,549},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,558},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,567},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,576},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,585},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,594},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,603},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitLoadBar/Load/0068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,9}</string>
                <key>spriteSourceSize</key>
                <string>{108,9}</string>
                <key>textureRect</key>
                <string>{{0,612},{108,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UnitLoadBar.png</string>
            <key>size</key>
            <string>{108,621}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2799eb7e7f5eb5097f223a7cff3958c9:f54aad292c91b9a1a60b7689ae95eb6f:42b903e21be77c4f8a3a356d19c17118$</string>
            <key>textureFileName</key>
            <string>UnitLoadBar.png</string>
        </dict>
    </dict>
</plist>
